* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #536577;
}

h1 {
  font-size: 2.5rem;
}

.login-container {
  padding: 3rem;
  border: solid 1px #e9ecef;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cadastro-container {
  padding: 1rem 2rem;
  border: solid 1px #e9ecef;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-height: 95vh;
}

.endereco-container {
  border: solid 1px #6c7783;
  border-radius: 10px;
}

.dashboard {
  display: flow-root;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #dbdbdd;
}

.dashboard img {
  width: 100%;
  height: 100%;
  border: solid 2rem #dbdbdd;
}

aside {
  width: 25%;
  justify-content: center;
}


aside nav {
  padding: 10px;
  margin-top: 50%;
}

table {
  max-height: 80%;
  min-height: 40%;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 10px;
}

.pagination a {
  background-color: #ffffff;

  color: #020202;
}

.pagination a:hover {
  background-color: #565a57;
  border-color: #020202;
  color: #fff;
}

.pagination .active a {
  background-color: #383e39;
  border-color: #020202;
  color: #fff;
}